.textFieldContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &::placeholder {
        width: 100%;
    }
}

.item {
    width: 70%;
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
}

.item:disabled {
    cursor: pointer;
    background-color: transparent;
}

.imageContainer {
    position: absolute;
    right: 10%;
    cursor: pointer;
    z-index: 3;
}

.revert{
    transform: rotate(180deg);
    color: rebeccapurple;
}
.error {
    border-bottom: 2px solid red;
    color: red;
}