.buttonContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    position: relative;

}

.link {
    text-decoration: underline;
    cursor: pointer;
    font-weight: bolder;
    border: none;
    background: none;
    font-size: 1rem;
}

.btn {
    width: 80%;
    font-family: "Galindo", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
    padding: 10px 5px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: clamp(12px ,1vw + .5rem, 24px);
    cursor: pointer;
    transition: color,background-color .3s ease-in-out;
}

.buttonSuccess {
    background-color: #4CAF50;
}

.buttonSignIn {
    background-color: black;
    color: white;
    &:hover {
        background-color: white;
        color: #000;
        border: 1px solid #000;
    }
}

.buttonSignUp {
    background-color: #FFF;
    border: 1px solid #000;
    &:hover {
        background-color: #000;
        color: white;
    }
}

.buttonImage {
    width: 40rem;
    left: 70%;
    top: 60%;
    position: absolute;
    z-index: 4;
}